.searchbar {
    width: 40rem;
    margin: auto;
    text-align: center;
}

.searchmessage {
    width: 100%;
    text-align: center;
}

.searchbarform{
    display: flex;
    justify-content: center;
    align-items: center;
}